.imperio{background-color: red;}
.rebelion{background-color: blue;}
#destacado{font-size:50px;}
#estilo{font-family:italica;}
#doble{border-style: double;}
#espacio{letter-spacing: normal;}
#centrar{text-align: center;}
#mayus{text-transform: uppercase;}